.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}

.fcc-logo {
  max-height: 50px;
  max-width: 70%;
}

.todo-list-container {
  width: 600px;
  min-height: 350px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
}
